.elemento img{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    margin: 10px;
}

.todo{
    
    height: 100%;
    width: 80%;

    margin: auto;
    overflow: center;

    border: black solid 2px;
}

.cabezal{
    margin-bottom: 20px;
    background-color: black;
    color: whitesmoke;

    text-align: center;
    padding: 10px;
}

.piePagina{
    margin-top: 20px;
    background-color: black;
    color: whitesmoke;

    text-align: center;
    padding: 10px;
}

.piePagina button{
    margin-right: 10px;
}



/* DIVS DE LA PETICIÓN */

.elemento{
    
    
    background-color: ghostwhite;
    border: black solid 2px;
    margin: 1%;
    text-align: center;
}


.elemento h4{
    text-align: center;
    margin: 3px;
    padding: 3px;

    background-color: black;
    color: whitesmoke;
}

.elemento p{
    text-align: justify;
    margin: 3px;
}

.idElemento{
    margin-top: 1%;
    font-weight: bold;
    margin-left: 5px;
}